body.line {
  margin: 0px auto;
  width: 100%;
  height: 100%;
}

.headicon {
  vertical-align: middle;
  width: 100%;
  height: 5em;
}

.headline {
  height: 5em;
  margin: 0% 2%;
}

.headfactor {
  display: inline-block;
  height: 5em;
  vertical-align: middle;
  margin: 0em 0em;
  text-align: center;
}

.height5 {
  height: 5em;
  margin: 2.5em 0;
  vertical-align: middle;
  position: top;
}

.headlinelogo {
  width: 6%;
  margin: 0% 1% 0% 0%;
}

.headlineexplanation {
  width: 12%;
  text-align: left;
  margin: 0% 1% 0% 0%;
  line-height:1%;
}

.headlinesearch {
  width: 50%;
}

.headlinelogin {
  width: 10%;
}

.headlinejoin {
  width: 10%;
}

.headlineetc {
  width: 10%
}

.bodyline {
  background-image: url("https://images.unsplash.com/photo-1461699399664-b9d990cd3df6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
}

.bodyimg {
  height: 100%;
  width: 100%;
}

.maindisplay {
  padding: 15em 30%;
  color: white;
  vertical-align: middle;
}