body.line {
  margin: 0px auto;
  width: 100%;
}

.headline {
  display: inline-block;
  height: 5em;
  vertical-align: middle;
}

div.bodyline {
  height: 80%;
}

.headicon {
  vertical-align: middle;
}